@font-face {
  font-family: "TT Moscow";
  font-display: swap;
  src: url("../fonts/TT Moscow Economy Regular.woff2") format("woff2"), url("../fonts/TT Moscow Economy Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Moscow";
  font-display: swap;
  src: url("../fonts/TT Moscow Economy Medium.woff2") format("woff2"), url("../fonts/TT Moscow Economy Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Moscow";
  font-display: swap;
  src: url("../fonts/TT Moscow Economy Bold.woff2") format("woff2"), url("../fonts/TT Moscow Economy Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Moscow";
  font-display: swap;
  src: url("../fonts/TT Moscow Economy Black.woff2") format("woff2"), url("../fonts/TT Moscow Economy Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}