.laws {
  padding: 52px 0 132px 0;
  background: url(../img/state-emblem.png) no-repeat right;
  &__title {
    margin-bottom: 58px;
  }
  &__cards {
    display: flex;
    justify-content: center;
    gap: 25px 36px;
    flex-wrap: wrap;
  }
  &__item {
    height: 220px;
    width: calc(100% / 3 - 24px);
    background: linear-gradient(180deg, #EFF7FF 0%, #FFFFFF 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
    box-shadow: 0px 4px 10px #C5DFF2;
    border-radius: 18px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background: linear-gradient(180deg, #EFF7FF 0%, #FFFFFF 100%);
      box-shadow: 0px 8px 10px rgba(143, 211, 244, 0.6);
    }
  }
  &__descr {
    font-weight: 400;
  }
}