@use "sass:math";

//fonts in base
@import "base/fonts";

//utils
@import "base/mixins";
@import "base/variables";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "TT Moscow", sans-serif;

//base
@import "base/null";
//utils
@import "utils/utils";

body {
  font-family: $fontFamily;
  font-weight: 500;

  // Скролл заблокирован
  .lock {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  .loaded & {
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}

//components
@import "components/btns";
@import "components/modal";
@import "components/menu-burger";

//layout
@import "layout/header";
@import "layout/greeting";
@import "layout/about";
@import "layout/values";
@import "layout/game";
@import "layout/book";
@import "layout/competencies";
@import "layout/manual";
@import "layout/plan";
@import "layout/culture";
@import "layout/history";
@import "layout/laws";
@import "layout/footer";

