@use "sass:math";

//fonts in base
@import "base/fonts";

//utils
@import "base/mixins";
@import "base/variables";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Facundo", sans-serif;
$fontFamilyMontserrat: "Montserrat", sans-serif;
$fontSize: rem(16); // где 16(px) - размер шрифта по умолчанию из макета

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

//base
@import "base/null";
//utils
@import "utils/utils";
@import "utils/common";
@import "utils/animations";

body {
  font-family: $fontFamily;
  font-weight: 500;

  // Скролл заблокирован
  .lock {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  .loaded & {
  }
}

html {
  scroll-behavior: smooth;
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem($containerPadding);
      }
    }
  }
}

//components
@import "components/btns";
@import "components/modal";
@import "components/menu-burger";

//layout
@import "layout/header";
@import "layout/footer";
//pages
@import "pages/home";
//themes

//vendors
@import "vendors/swiper";
